


.App {
  text-align: center;
  
}

.new-inputs {
  /* width: 36%; */
  min-width: 190px;
  height: 46.14px;
  border-radius: 8px;
  /* border: none;
  outline: none; */
  padding-left: 20px;
  font-size: 13px;
  /* text-align: left; */
  /* color: #030303;
  background: #fff; */
 
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #030303;
  margin: 15px;

}